 /*  
  Lavanya Srinivasan  - 1002040671
  Vigneshwar Selvaraj - 1001863627
  Siddartha Reddy Sungomula - 1001969005
*/
 .contact-title {
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .contact-us {
    height: calc(100% - 65px);
    overflow-y: auto;
  }
  .content-div {
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .form-div {
    display: flex;
  }
  .ctm-text {
    width: 515px;
    text-align: start;
  }
  .left-div {
    margin-right: 1rem;
  }
  .second-row {
    padding-top: 2rem;
  }
  textarea {
    resize: none;
    border-radius: 5px;
    border: 1px solid #a9a9a9;
    padding: 0.5rem;
    width: 515px;
    height: 125px;
  }
  
  .submit-btn {
    padding: 0.5rem 3rem;
    color: white;
    background-color:#0096ff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
  }
  #wait {
    position: absolute;
    top: 40%;
    background-color: white;
    box-shadow: rgb(149 157 165 / 20%) 0px 8px 24px;
    width: 300px;
    height: 250px;
    left: 40%;
    display: none;
    align-items: center;
    z-index: 999;
  }
  #block {
    width: 100%;
    height: 100%;
    position: absolute;
    background-color: black;
    opacity: 0.1;
    z-index: 99;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    display: none;
  }
  @media (max-width: 768px) {
    .form-div {
      flex-direction: column;
    }
    .ctm-text {
      width: 300px;
    }
    .left-div {
      margin-right: 0;
      margin-bottom: 1rem;
    }
    .second-row {
      padding-top: 1rem;
    }
    textarea {
      width: 250px;
    }
    .contact-us {
      height: calc(100% - 110px);
    }
  }
  