/*  
  Lavanya Srinivasan  - 1002040671
  Vigneshwar Selvaraj - 1001863627
  Siddartha Reddy Sungomula - 1001969005
*/
li {
    list-style: none;
}

.header {
    background-color: #0096ff;
    border-bottom: 1px solid #e2e8f0;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
}

.hamburger {
    display: none;
}

.bar {
    display: block;
    width: 25px;
    height: 3px;
    margin: 5px auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    background-color: #101010;
}


.nav-menu {
    display: flex;
    align-items: center;
    margin-right: 2rem;
}

.nav-item {
    margin-left: 1rem;
    margin-top: 0.5rem;
    font-size: 18px;
}

.nav-link {
    color: #000;
}

.nav-link-active {
    background-color: #76c893;
    color: #fff;
}

.nav-link:hover {
    color: #ffff;
}

.nav-logo {
    font-size: 25px;
    background: #76c0c80b;
    color: #ffffff;
    padding: 0.5rem;
    border-radius: 5px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.nav-dropdown:hover .dropdown-content {
    display: block;
}
/* 
body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 20px;
    font-family: Helvetica, Arial, sans-serif;
    color: #47525e;
    height: 100%;
} */