/*  
  Lavanya Srinivasan  - 1002040671
  Vigneshwar Selvaraj - 1001863627
  Siddartha Reddy Sungomula - 1001969005
*/
  img {
    vertical-align: middle;
  }
  
  .container {
    width: 100%;
    position: relative;
    margin: auto;
    height: 100%;
    overflow-y: auto;
  }
  
  .text {
    color: #f2f2f2;
    font-size: 30px;
    padding: 20px 15px;
    position: absolute;
    left: 10px;
    top: 40%;
    width: 40%;
    background: rgba(0, 0, 0, 0.7);
    text-align: left;
  }

  .fade {
    -webkit-animation-name: fade-image;
    -webkit-animation-duration: 1.5s;
    animation-name: fade-image;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade-image {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @keyframes fade-image {
    from {
      opacity: 0.4;
    }
    to {
      opacity: 1;
    }
  }
  
  @media only screen and (max-width: 768px) {
    .text {
      font-size: 18px;
      top: 30%;
    }
  }
  